<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723126815773-r38h6cmeg2i9rq2snj6338grtgvdq87l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723126815773-r38h6cmeg2i9rq2snj6338grtgvdq87l</string>
	<key>API_KEY</key>
	<string>AIzaSyDXuZnRmJXvmVHs9BbVmFc0_JtSrrHlckU</string>
	<key>GCM_SENDER_ID</key>
	<string>723126815773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RandomChat.Test2</string>
	<key>PROJECT_ID</key>
	<string>randomchat-de9ad</string>
	<key>STORAGE_BUCKET</key>
	<string>randomchat-de9ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:723126815773:ios:ef3fb87810abbaa0520af4</string>
	<key>DATABASE_URL</key>
	<string>https://randomchat-de9ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>
